<header>
    <div class="row" style="width: 100%;height: 50px;margin-left: 0px;">
        <div class="col-12 col-md-2" style="border: 1px solid red;">
            <a href="/ums/">
                <img src="">
                <span>权限管理系统</span>
            </a>
        </div>
        <div class="col-12 col-md-10 text-right" style="border: 1px solid blue;">
            <a href="/ums/">
                <img src="">
                <span>用户名</span>
            </a>
            <a href="/ums/">
                <img src="">
                <span>修改密码</span>
            </a>
            <a href="/ums/">
                <img src="">
                <span>退出</span>
            </a>
        </div>
    </div>
</header>