<nav class="nav-menu" id="menu-ul"></nav>
<script th:inline="javascript">
    var user = [[${user}]];
    var auths = [[${auths}]];
    //菜单生成
    var menu = {
        main: function main() {
            var resList = auths;
            console.info(resList)
            if (!resList || 0 == resList.length) {
                return '';
            }
            var mainMenuArr = [];
            for (let i = 0; i < auths.length; i++) {
                let res = auths[i];
                let code = res.menuCode;
                let url = res.menuUrl;
                let name = res.menuName;
                mainMenuArr.push('<li id="nav_'+code+'"><a href="'+url+'"><img src="">'+name+'</a></li>');
            }
            return mainMenuArr.join('');
        },

    };

    document.getElementById('menu-ul').innerHTML = menu.main();

    let lis = document.querySelectorAll('#menu-ul > li');
    console.info(lis)
    for (let i = 0; i < lis.length; i++) {
        lis[i].onclick = function (event) {
            let li = document.getElementsByClassName('active')[0];
            li.classList.remove('active');
            this.target.classList.add('active');
        }
    }


</script>

