<nav class="nav-menu" id="menu-ul"></nav>
<script th:inline="javascript">
    var user = [[${user}]];
    var auths = [[${auths}]]
    var pathname = location.pathname;
    //菜单生成
    var menu = {
        main: function main() {
            var resList = auths;
            console.info(resList)
            if (!resList || 0 == resList.length) {
                return '';
            }
            var mainMenuArr = [];
            for (let i = 0; i < auths.length; i++) {
                let res = auths[i];
                let code = res.menuCode;
                let url = res.menuUrl;
                let name = res.menuName;
                if (url == pathname){
                    mainMenuArr.push('<li id="nav_'+code+'" class="active"><a href="'+url+'"><img src="">'+name+'</a></li>');
                }else {
                    mainMenuArr.push('<li id="nav_'+code+'"><a href="'+url+'"><img src="">'+name+'</a></li>');
                }
            }
            return mainMenuArr.join('');
        },

    };

    document.getElementById('menu-ul').innerHTML = menu.main();

</script>

