<div class="container-fluid">
    <div class="row" id="menu-management-content">
        <div class="col-12 col-md-3 text-left">
            <div class="row">
                <div class="col-12 col-md-5 text-right">
                    <label style="margin-top: 7px;">查找菜单：</label>
                </div>
                <div class="col-12 col-md-7 text-left">
                    <input type="text" class="form-control" placeholder="请输入菜单名称"  id="menu-name">
                </div>
            </div>
        </div>
    </div>
    <div id="menu-table-container" class="col-12" style="overflow-y: auto;height:calc(100vh - 185px);">
        <table class="tab-content" id="menu-table"></table>
    </div>
</div>