<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" th:href="@{/page/login/css/login.css}">
</head>
<body>
<div th:replace="common"></div>
<div id="main">
    <div class="row" id="main_login">
        <div class="col-7" ></div>
        <div class="col-5">
            <form action="../user/login" id="userForm" method="post">
                <div class="form-group form-row user-input">
                    <label for="username" class="col-3">用户名</label>
                    <input type="text" class="form-control col-9" id="username" name="username" placeholder="请输入用户名">
                </div>
                <div class="form-group form-row user-input">
                    <label for="password" class="col-3">密码</label>
                    <input type="password" class="form-control col-9" id="password" name="password" placeholder="请输入密码">
                </div>
                <div class="form-group form-row user-input">
                    <input type="text" class="form-control col-9" id="tokenText" placeholder="不区分大小写">
                    <div id="token" class="col-3" onclick="Login.setToken()"></div>
                </div>
                <div class="form-group form-row user-input">
                    <button type="button" class="form-control btn btn-primary col-6" onclick="Login.login()">登&nbsp;录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/page/login/js/login.js}"></script>
</body>
</html>